.container {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.copyright {
    color: darkgray;
    flex: 1;
}

.backToTop {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}